div.settings {
  padding: var(--settings-padding);
  background-color: var(--background-color);
  border-radius: var(--settings-border-radius);
  border: var(--border);
}

div.settings-header {
  position: relative;
  height: var(--settings-header-height);
  padding-bottom: var(--settings-padding);
  border-bottom: var(--border);

  p {
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: var(--font-size);
  }

  button {
    position: absolute;
    right: 0;
  }
}

span.settings-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: var(--settings-padding);

  p.current-value {
    text-align: center;
  }
}

span.settings-row.two-items {
  display: flex;
  justify-content: space-between;
}

.settings-row+.settings-row {
  border-top: var(--border);
}