div.app-container {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

header {
  display: block;
  border-bottom: var(--border);

  section {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left: var(--header-padding);
    padding-right: var(--header-padding);
  }
}

div.backdrop {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: var(--back-drop-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

div.settings {
  max-width: var(--settings-max-width);
  width: 90%;
  z-index: 100;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: var(--game-board-max-width);
  margin: 0 auto;
  max-height: calc(100% - var(--header-height));
  height: calc(100% - var(--header-height));

  app-keyboard {
    width: 100%;
  }
}