<div class="app-container">
  <header>
    <section>
      <h1>FlexiWord</h1>
      <button (click)="dialogOpen = !dialogOpen">
        <fa-icon [icon]="settingsIcon"></fa-icon>
      </button>
    </section>
  </header>

  @if (dialogOpen) {
  <div class="backdrop" (click)="dialogOpen = false">
    <div class="settings" (click)="$event.stopPropagation()">
      <app-settings
      [(dialogOpen)]="dialogOpen"
      [(wordLength)]="wordLength"
      [(maxGuesses)]="maxGuesses"
      (wordLengthChange)="startNewGame()"
      (maxGuessesChange)="startNewGame()"></app-settings>
    </div>
  </div>
  }

  <main>
    @if (gameService.rows$ | async; as rows) {
    <app-game-board [rows]="rows" [wordLength]="gameService.wordLength" [isWin]="gameService.win"></app-game-board>
    }

    <app-keyboard [keyState]="gameService.keyStates" (keyPress)="gameService.handleKeyPress($event)"></app-keyboard>
  </main>
</div>