<div class="app-container">
  <header>
    <section>
      <h1>FlexiWord</h1>
      <button (click)="dialogOpen = !dialogOpen">
        <fa-icon [icon]="settingsIcon"></fa-icon>
      </button>
    </section>
  </header>

  @if (dialogOpen) {
  <div class="backdrop" (click)="dialogOpen = false">
    <div class="settings" (click)="$event.stopPropagation()">
      <app-settings [(dialogOpen)]="dialogOpen" [(wordLength)]="wordLength" [(maxGuesses)]="maxGuesses"
        (wordLengthChange)="startNewGame()" (maxGuessesChange)="startNewGame()"></app-settings>
    </div>
  </div>
  }

  <main>
    <app-game-board (rowRevealed)="gameService.onRowRevealed($event)"></app-game-board>
    @if (gameService.keyStates$ | async; as states) {
    <app-keyboard [keyState]="states" (keyPress)="gameService.handleKeyPress($event)"></app-keyboard>
    }
  </main>
</div>