<div class="app-container">
  <header>
    <section>
      <h1>FlexiWord</h1>
      <button (click)="dialogOpen = !dialogOpen">
        <fa-icon [icon]="settingsIcon"></fa-icon>
      </button>
    </section>
  </header>

  @if (dialogOpen) {
  <div class="backdrop" (click)="dialogOpen = false">
    <div class="settings" (click)="$event.stopPropagation()">
      <app-settings [(dialogOpen)]="dialogOpen" [(settings)]="settings" (newGameRequested)="startNewGame()"></app-settings>
    </div>
  </div>
  }

  <main>
    <div>
      <app-toast></app-toast>
      <app-game-board [rows]="gameService.rows" [wordLength]="gameService.wordLength" [win]="gameService.win" (rowRevealed)="gameService.onRowRevealed($event)"></app-game-board>
    </div>
    <app-keyboard></app-keyboard>
  </main>
</div>