div.board-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

div.board {
    display: grid;
    padding: var(--game-board-padding);
    column-gap: var(--game-board-gap);
    row-gap: var(--game-board-gap);
}

div.row {
    display: grid;
    grid-template-columns: repeat(var(--word-length), var(--cell-size));
    column-gap: var(--game-board-gap);
    row-gap: var(--game-board-gap);
}

div.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    box-sizing: border-box;
    border: var(--border);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-weight);
    font-size: var(--game-board-cell-font-size);
    line-height: var(--game-board-cell-font-size);
    text-transform: uppercase;
    user-select: none;
    vertical-align: middle;
}