div.keyboard {
    margin-left: var(--keyboard-margin);
    margin-right: var(--keyboard-margin);
    user-select: none;
}

div.keyboard-row {
    display: flex;
    justify-content: center;
    user-select: none;
    margin-bottom: var(--keyboard-margin);
    vertical-align: baseline;
    gap: var(--game-board-gap);
    width: 100%;
}

div.spacer {
    display: block;
    flex-grow: 0.5;
    flex-shrink: 1;
}

button {
    display: flex;
    align-items: center;
    background: var(--keyboard-color);
    height: var(--keyboard-button-height);
    justify-content: center;
    letter-spacing: normal;
    text-align: center;
    flex: 1 1 0;
}

button.wide {
    flex-grow: 1.5;
    font-size: var(--keyboard-wide-button-font-size);

    fa-icon {
        font-size: var(--font-size);
    }
}