<div class="keyboard">
    @for (row of layout; track row; let r = $index) {
    <div class="keyboard-row">
        @if (r === 0) {
        @for (key of row; track key) {
        <button [disabled]="disableKeyboard" [attr.state]="keyState[key]" (click)="proccessKey(key)">{{key}}</button>
        }
        }
        @if (r === 1) {
        <div class="spacer"></div>
        @for (key of row; track key) {
        <button [disabled]="disableKeyboard" [attr.state]="keyState[key]" (click)="proccessKey(key)">{{key}}</button>
        }
        <div class="spacer"></div>
        }
        @if (r === 2) {
        <button class="wide" [disabled]="disableKeyboard" (click)="proccessKey('ENTER')">Enter</button>
        @for (key of row; track key) {
        <button [disabled]="disableKeyboard" [attr.state]="keyState[key]" (click)="proccessKey(key)">{{key}}</button>
        }
        <button class="wide" [disabled]="disableKeyboard" (click)="proccessKey('BACKSPACE')"><fa-icon [icon]="deleteIcon"></fa-icon></button>
        }
    </div>
    }
</div>