@use '@angular/material' as mat;

:root {
    --cell-size: 62px;
    --game-board-gap: 5px;
    --game-board-cell-font-size: 32px;
    --game-board-padding: 10px;
    --game-board-max-width: 500px;
    --keyboard-margin: 8px;
    --keyboard-button-height: 58px;
    --keyboard-wide-button-font-size: 12px;
    --settings-header-height: 23px;
    --settings-max-width: 520px;
    --settings-border-radius: 8px;
    --settings-padding: 16px;
    --header-height: 58px;
    --header-padding: 24px;
    --font-weight: 700;
    --font-size: 20px;
    --button-border: 4px;
    --present-color: rgb(181, 159, 59);
    --correct-color: rgb(83, 141, 78);

    --background-color: rgb(255, 255, 255);
    --color: rgb(0, 0, 0);
    --keyboard-color: rgb(211, 214, 218);
    --back-drop-color: rgba(255, 255, 255, 0.5);
    --tbd-color: rgb(135, 138, 140);
    --absent-color: rgb(120, 124, 126);

    --border: 2px solid var(--keyboard-color);
    background-color: var(--background-color);
    color: var(--color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    [state="correct"] {
        color: var(--background-color) !important;
    }

    [state="present"] {
        color: var(--background-color) !important;
    }

    [state="absent"] {
        color: var(--background-color) !important;
    }
}

:root[theme="dark"] {
    --background-color: rgb(18, 18, 19);
    --color: rgb(248, 248, 248);
    --keyboard-color: rgb(129, 131, 132);
    --back-drop-color: rgba(0, 0, 0, 0.5);
    --tbd-color: rgb(86, 87, 88);
    --absent-color: rgb(58, 58, 60);

    --border: 2px solid var(--absent-color);

    [state="correct"] {
        color: var(--color) !important;
    }

    [state="present"] {
        color: var(--color) !important;
    }

    [state="absent"] {
        color: var(--color) !important;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    width: 100%;
    height: 100%;
}

button {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--color);
    border: none;
    background: none;
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
    border-radius: var(--button-border);
    padding: 0px;
}

[state="tbd"] {
    border-color: var(--tbd-color) !important;
}

[state="correct"] {
    background: var(--correct-color) !important;
    border: none !important;
}

[state="present"] {
    background: var(--present-color) !important;
    border: none !important;
}

[state="absent"] {
    background: var(--absent-color) !important;
    border: none !important;
}

.mat-mdc-slide-toggle {
    @include mat.slide-toggle-overrides((
        track-shape: rounded,
        handle-shape: rounded,
        selected-icon-size: 0,
        unselected-icon-size: 0,
        track-outline-color: var(--tbd-color),
        selected-track-outline-color: var(--correct-color),
        selected-track-color: var(--correct-color),
        selected-focus-track-color: var(--correct-color),
        selected-hover-track-color: var(--correct-color),
        selected-pressed-track-color: var(--correct-color),
        unselected-track-color: var(--tbd-color),
        unselected-focus-track-color: var(--tbd-color),
        unselected-hover-track-color: var(--tbd-color),
        unselected-pressed-track-color: var(--tbd-color),
        selected-handle-color: var(--color),
        selected-focus-handle-color: var(--color),
        selected-hover-handle-color: var(--color),
        selected-pressed-handle-color: var(--color),
        unselected-handle-color: var(--color),
        unselected-focus-handle-color: var(--color),
        unselected-hover-handle-color: var(--color),
        unselected-pressed-handle-color: var(--color)
    ));

    .mdc-switch__track {
        border-radius: 9999px;
    }

    .mdc-switch__handle {
        border-radius: 50%;
    }
}